.heading{
    text-align: center;
    font-size: 50px;
    color: crimson;
}
#countries{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
}
.country{
    background-color: rgb(218, 24, 218);
    color: white;
    border: 3px solid rgb(43, 34, 36);
    border-radius: 20px;
    padding: 10px 0;
    margin-bottom: 5px;
    text-align: center;
    font-family: sans-serif;
}